.main {
  max-width: 800px;
  margin: 2rem auto;
  
  .select {
    margin-top: 1rem;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
  }
}
