.main {
  .UP {
    animation: fade-out-positive 0.3s;
  }

  .DOWN {
    animation: fade-out-negative 0.3s;
  }

  .SAME {
    background-color: transparent;
  }

  @keyframes fade-out-negative {
    0% {
      background-color: hsl(11, 91%, 58%, 0.3);
      color: hsl(11, 91%, 58%);
    }
    99% {
      background-color: hsl(11, 91%, 58%, 0.3);
      color: hsl(11, 91%, 58%);
    }
    100% {
      background-color: transparent;
    }
  }
  
  @keyframes fade-out-positive {
    0% {
      background-color: hsl(149, 78%, 40%, 0.3);
      color: hsl(149, 78%, 40%);
    }
    99% {
      background-color: hsl(149, 78%, 40%, 0.3);
      color: hsl(149, 78%, 40%);
    }
    100% {
      background-color: transparent;
    }
  }
}
